.App {
  text-align: center;
  background: #EFEFEF url("/desk.jpg");
  background-size: 100%;
  background-repeat: no-repeat;

}

nav{
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #9FC0B9;
}

nav a{
  color:white;
  text-decoration: none;
  font-size: 20px;
}

.Home{
  /* background-image: url("/desk.jpg"); */
  background-size: 100%;
  background-repeat: no-repeat;
  width:auto;
  height: 650px;
}

.siteName{
  color: #9FC0B9;
  font-size: 150px;
  padding-top:15%;
  font-family: 'Lobster Two', cursive;
  text-decoration: underline;
}

.JobForm{
  height: 350px;
}

input{
 padding: 2px;
}

input[type=submit]{
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: white;
  color: black;
  border: 2px solid #9FC0B9;
  padding: 5px;
  transition: .4s;
  font-size: 20px;
}
input[type=submit]:hover{
  background-color: #9FC0B9;
  color: white;
}

button{
  background-color: white;
  color: black;
  border: 2px solid #f44336;
  transition: .4s;
  font-size: 15px;
}

button:hover{
  background-color: #f44336;
  color: white;
}
.jobList{


}
.JobPost{
  background-color: rgba(255, 255, 255, .6);
  width: 25%;
  margin: 0 auto;

}

.JobFields{
  padding-top: 10px;
  width:70%;
  margin: 0 auto;
  color: rgba(159, 192, 185, 1);
  font-weight: bold;

}
